.login-page-container {
    max-width: 450px;
    margin: 50px auto;
    padding: 25px;
    background-color: #fef9ff;
    border: 1px solid #e6d3ed;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
  }
  
  h1 {
    text-align: center;
    color: #6b4e8e;
    font-size: 2rem;
    margin-bottom: 15px;
  }
  
  label {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    color: #5c476f;
  }
  
  input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #d8c4e7;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #fdfdff;
  }
  
  input:focus {
    border-color: #a67db8;
    outline: none;
    box-shadow: 0 0 3px rgba(166, 125, 184, 0.7);
  }
  
  button {
    background-color: #a67db8;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:disabled {
    background-color: #d8c4e7;
    cursor: not-allowed;
  }
  
  button:hover:not(:disabled) {
    background-color: #8b5f9e;
  }
  
  .error-general {
    text-align: center;
    color: #e57373;
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: 600;
  }  

.demo-user-btn {
    background-color: #8b5f9e;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    text-align: center;
  }
  
  .demo-user-btn:hover:not(:disabled) {
    background-color: #6b4e8e;
  }
  
  .demo-user-btn:disabled {
    background-color: #d8c4e7;
    cursor: not-allowed;
  }